body{
  background-color: #87b5b5;
  
}
.heading{
  text-align: center;
}
.AppWrap{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 1100px;
}
.editorWrap{
  align-self: flex-start;
}
.editorWrap #editor{
  height: 80vh;
  box-sizing: border-box;
  
}



 
